name: flavor_app
description: A new Flutter project.
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=2.17.1 <4.0.0"
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_flavorizr: ^2.2.3

dependency_overrides:
  archive: ^4.0.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  icons_launcher:
    path: ../../

flutter:
  disable-swift-package-manager: true
  uses-material-design: true

flavorizr:
  app:
    android:
      flavorDimensions: "flavor-app"
  flavors:
    dev:
      app:
        name: "Dev App"
      android:
        applicationId: "com.example.dev"
      ios:
        bundleId: "com.example.dev"
    prod:
      app:
        name: "Prod App"
      android:
        applicationId: "com.example.prod"
      ios:
        bundleId: "com.example.prod"
