name: flavor_app
description: A new Flutter project.
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=2.17.1 <4.0.0"
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.5
  flutter_flavorizr: ^2.2.1

dependency_overrides:
  image: ^4.0.13

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1
  icons_launcher:
    path: ../../

flutter:
  uses-material-design: true

flavorizr:
  app:
    android:
      flavorDimensions: "flavor-app"
    ios:
  flavors:
    dev:
      app:
        name: "Dev App"
      android:
        applicationId: "com.example.dev"
      ios:
        bundleId: "com.example.dev"
    prod:
      app:
        name: "Prod App"
      android:
        applicationId: "com.example.prod"
      ios:
        bundleId: "com.example.prod"
